.Keyboard {
    --key-width: /* set by JS in Keyboard component */ ;
    --key-outline-default: inset 0px 0px 0px 1px #aaa;
    --key-bg-active:#ff7700;
    --key-radius: 0 0 0.5rem 0.5rem;
  
    height: 200px;
    margin: 0 auto;
    width: 90%;
    position: relative;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "out-of-range--left keys out-of-range--right";
}

.Keyboard__keys {
    grid-area: keys;
    position: relative;
}


.MajorKey {
    background: #eee;
    border: none;
    box-shadow: var(--key-outline-default);
    border-radius: var(--key-radius);
    height: 100%;
    position: absolute;
    width: var(--key-width);
}

.MajorKey--active {
    background: var(--key-bg-active);
    border: none;
    border-radius: var(--key-radius);
    height: 100%;
    position: absolute;
    width: var(--key-width);
}

.MinorKey {
    background: #000;
    border: none;
    border-radius: var(--key-radius);
    box-shadow: var(--key-outline-default);
    height: 65%;
    position: absolute;
    width: calc(var(--key-width) / 2);
}

.MinorKey--active {
    background: var(--key-bg-active);
    border: none;
    border-radius: var(--key-radius);
    box-shadow: var(--key-outline-active);
    height: 65%;
    position: absolute;
    width: calc(var(--key-width) / 2);
}

.Keyboard__out-of-range-indicator--left {
    grid-area: out-of-range--left;
    border: 1px solid red;
    aspect-ratio: 1;
    width: 25px;
}

.Keyboard__out-of-range-indicator--right {
    grid-area: out-of-range--right;
    border: 1px solid red;
    aspect-ratio: 1;
    width: 25px;
}
